@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto-Light;
  src: url("../font/Roboto-Light.ttf"); }

@font-face {
  font-family: Roboto-Medium;
  src: url("../font/Roboto-Medium.ttf"); }

@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf"); }

body {
  overflow-x: hidden;
  font-family: Roboto-Regular;
  font-size: 15px;
  line-height: 1.4; }

ul {
  padding-left: 0px;
  margin-bottom: 0px; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px; }

a:hover {
  text-decoration: none; }

p {
  margin-bottom: 0px; }

img {
  max-width: 100%; }

.position-absolute {
  position: absolute !important; }

.setup-mar-r {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5px; }

.setup-mar-l {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 5px; }

.padd-l {
  padding-left: 0px; }

.padd-r {
  padding-right: 0px; }

.padd {
  padding-right: 0px;
  padding-left: 0px; }

.mar {
  margin-left: 0px;
  margin-right: 0px; }

.mar-l {
  margin-left: 0px; }

.mar-r {
  margin-right: 0px; }

.nav-dropdown__user {
  display: inline-block;
  float: right;
  margin-top: 4px;
  position: relative; }

.button-notification {
  display: inline-block;
  float: right;
  margin-top: 4px;
  margin-left: 13px; }

.button-news {
  display: inline-block;
  float: right;
  margin-top: 4px;
  margin-left: 20px; }

.header {
  background: #fff;
  border-bottom: 1px solid #cfd8dc;
  padding: 10px 0px; }
  .header.header-fix {
    position: fixed;
    z-index: 99999;
    width: 100%; }

.dropdown-toggle {
  background: inherit;
  border: 0px; }

.dropdown-toggle__bg {
  position: relative; }
  .dropdown-toggle__bg img {
    margin-left: 11px; }

.dropdown-menu {
  top: 32px;
  left: 40px; }

.dropdown__arrow-cuttom {
  position: relative; }
  .dropdown__arrow-cuttom:before {
    position: absolute;
    display: inline-block;
    top: -1px;
    right: 4px;
    content: "";
    height: 1px;
    width: 1px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: rgba(0, 0, 0, 0.15) white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 10px solid #fff;
    box-sizing: border-box;
    border-color: transparent transparent #fff #fff;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.02); }

.dropdown-menu {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  border: 0px; }
  .dropdown-menu li a {
    font-size: 13px;
    color: #1f1f1f; }

.dropdown-toggle__Newest {
  position: relative;
  color: #4990e2; }
  .dropdown-toggle__Newest:before {
    position: absolute;
    display: inline-block;
    content: "";
    height: 0;
    width: 0; }

.dropdown__arrow-cuttom:before {
  top: -2px;
  right: 4px; }

.dropdown-menu__Newest {
  left: -36px; }

.dropdown-menu__social {
  color: #4990e2;
  right: 30px;
  left: auto;
  width: 400px; }
  .dropdown-menu__social:before {
    position: absolute;
    display: inline-block;
    content: "";
    height: 0;
    width: 0; }

.dropdown-menu__social > li {
  width: auto;
  float: left; }

.dropdown-menu__social > li > a {
  clear: none;
  display: inline-block; }

.sort-comment__item {
  float: right;
  font-size: 15px;
  line-height: 1.4;
  text-align: right;
  color: #8090a3;
  margin-top: 6px;
  margin-right: 25px; }

.main-title {
  font-family: Roboto-Light;
  font-size: 32px;
  font-weight: 300;
  color: #1f1f1f; }

.main-right {
  margin: 38px 0;
  position: relative; }

.main {
  background-color: #f9f9f9; }

.box-comment > li {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #eceff1;
  padding: 10px 15px; }

.active-comment > li {
  font-size: 15px;
  line-height: 1.4;
  color: #1f1f1f;
  margin: 6px 0; }

.box-comment__like ul li {
  display: inline-block;
  margin-right: 26px; }

.box-comment-sub1 {
  color: #8090a3; }

.box-comment-sub2 {
  color: #4990e2; }
  .box-comment-sub2 span {
    color: #1f1f1f;
    margin-left: 3px;
    margin-right: 3px; }
  .box-comment-sub2 img {
    margin-bottom: 4px;
    margin-right: 1px; }

.Social-sharing {
  float: right; }

.dropdown-menu__Newest {
  padding: 10px 10px; }
  .dropdown-menu__Newest li {
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f;
    display: inline-block;
    margin: 0px 10px; }

.box-comment li {
  margin-top: 5px;
  margin-bottom: 5px; }

.footer {
  padding: 70px 0;
  border: 1px solid #cfd8dc; }

.foo-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  color: #1f1f1f;
  font-family: Roboto-Medium;
  margin-bottom: 21px; }

.foo--about li {
  margin-bottom: 4px; }
  .foo--about li a {
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f; }

.footer--about__subpost a {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  color: #4990e2 !important;
  font-family: Roboto-Medium; }

.foo--product li {
  margin-bottom: 4px; }
  .foo--product li a {
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f; }

.main__loading {
  text-align: center;
  margin-top: 33px;
  margin-bottom: 58px; }

.foo--about-us ul li {
  display: inline-block;
  margin-right: 10px; }

.block-icon__user {
  position: relative;
  float: left; }

.user-name__left1 {
  float: left;
  font-size: 15px;
  line-height: 1.4;
  color: #1f1f1f;
  margin-left: 15px;
  margin-top: 16px; }

.main-left__user {
  border-bottom: 1px solid #cfd8dc;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.icon-camera {
  position: absolute;
  top: 26px;
  left: 30px; }

.left-menu > li {
  padding-top: 8px;
  padding-bottom: 8px; }
  .left-menu > li a {
    color: #1f1f1f; }

.table > thead > tr > th {
  border-bottom: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important; }

.table > tbody > tr > td {
  border: 0px !important; }

.table > tbody > tr > td {
  padding-top: 15px; }

.table-cuttom {
  table-layout: fixed; }
  .table-cuttom .Trading_code {
    width: 22%; }
  .table-cuttom .Trading_time {
    width: 19%; }
  .table-cuttom .Trading_name {
    width: 30%; }
  .table-cuttom .Trading_code--item {
    word-break: break-all; }
    .table-cuttom .Trading_code--item p {
      padding-right: 42px;
      font-size: 15px;
      line-height: 1.4;
      color: #4990e2; }
  .table-cuttom .Trading_time--item p {
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f; }
  .table-cuttom .Trading_name--item p {
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f; }
  .table-cuttom .Trading_pay--item p {
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f; }
  .table-cuttom .Trading_statur--item p {
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f; }

.main-history {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #eceff1;
  padding: 20px;
  margin-bottom: 60px; }

.main-history__title {
  font-size: 32px;
  font-weight: 300;
  color: #1f1f1f;
  font-family: Roboto-Light;
  margin-top: 42px;
  margin-bottom: 25px;
  margin-left: 20px; }

.center--paging {
  width: 300px;
  margin: auto;
  padding-bottom: 86px;
  padding-top: 19px; }

.paging {
  float: right;
  padding-top: 25px;
  padding-bottom: 60px; }
  .paging ul {
    text-align: right; }
    .paging ul li {
      float: left; }
      .paging ul li.next a {
        color: #cfd8dc; }
        .paging ul li.next a:hover {
          color: #4990e2; }
      .paging ul li.number {
        border-bottom: solid 1px #cfd8dc;
        border-top: solid 1px #cfd8dc;
        background: #fff;
        padding: 7px 16px; }
      .paging ul li.see-more {
        border: 0px;
        padding: 10px 11px; }
        .paging ul li.see-more a {
          color: #8090a3; }
      .paging ul li a {
        font-size: 15px;
        line-height: 1.4;
        text-align: center;
        color: #1f1f1f; }

.right--paging {
  border-top: 1px solid #cfd8dc; }
  .right--paging .paging {
    padding-bottom: 7px !important; }

.pay-vnexpress {
  background-color: rgba(255, 255, 255, 0.9);
  width: auto;
  padding: 7px;
  border-radius: 4px;
  border: solid 1px #cfd8dc;
  height: auto;
  color: #4990e2;
  margin-right: 10px; }
  .pay-vnexpress option {
    color: #4990e2; }

.calender-vnexpress {
  float: none; }
  .calender-vnexpress .dropdown-toggle__Newest {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #cfd8dc;
    padding: 6px 12px; }
  .calender-vnexpress ul .dropdown__arrow-cuttom:before {
    right: 88px; }
  .calender-vnexpress ul.dropdown-menu__Newest {
    width: 300px; }
    .calender-vnexpress ul.dropdown-menu__Newest li {
      width: 280px; }

.imput--history {
  margin-bottom: 28px; }
  .imput--history > div {
    margin-right: 10px; }

.Filter_results {
  border-radius: 4px;
  background-color: #f37021;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 8px 23px;
  border: 0px; }

select {
  display: inline-block; }

.table-mobile--dare {
  font-weight: bold; }

.table-mobile > tbody > {
  padding-bottom: 15px; }
  .table-mobile > tbody > tr > td {
    padding-top: 0px; }

.author-follow > ul > li {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #eceff1;
  padding: 8px;
  margin-bottom: 10px; }
  .author-follow > ul > li .author-img {
    height: 106px; }
    .author-follow > ul > li .author-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .author-follow > ul > li .author-text h2 {
    font-size: 20px;
    line-height: 1.2;
    color: #1f1f1f;
    font-family: Roboto-Medium; }
  .author-follow > ul > li .author-text p {
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f;
    margin-top: 5px;
    margin-bottom: 10px; }
  .author-follow > ul > li .author-text button {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #8090a3;
    font-size: 15px;
    line-height: 1.4;
    color: #8090a3;
    padding: 5px 19px; }
  .author-follow > ul > li .author-post {
    border-left: 1px solid #eceff1;
    margin-top: 7px; }
    .author-follow > ul > li .author-post p {
      font-size: 15px;
      line-height: 1.4;
      color: #8090a3;
      margin-top: 3px;
      margin-bottom: 4px; }
    .author-follow > ul > li .author-post ul li {
      font-size: 15px;
      line-height: 1.4;
      color: #1f1f1f; }

.social-in-news {
  float: none;
  margin-top: 20px;
  margin-left: -15px; }
  .social-in-news ul {
    position: relative; }
    .social-in-news ul:before {
      position: absolute;
      display: inline-block;
      top: 7px;
      right: 76px;
      content: "";
      height: 1px;
      width: 1px;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid transparent;
      border-bottom: 10px solid #000;
      box-sizing: border-box;
      border-color: transparent transparent #fff #fff;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.02); }

.dark-screen {
  background: #000;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10; }

.left-menu {
  margin-top: 15px;
  margin-bottom: 20px; }
  .left-menu li {
    position: relative; }
    .left-menu li p {
      position: relative; }
  .left-menu > li.co-operate {
    width: 185px; }
    .left-menu > li.co-operate p {
      padding-left: 15px; }
  .left-menu > li.co-operate--second {
    width: 185px; }
    .left-menu > li.co-operate--second p {
      padding-left: 15px; }
  .left-menu > li p {
    padding-left: 53px;
    margin-bottom: 5px; }
  .left-menu > li p::before {
    width: 30px;
    height: 30px;
    top: -5px;
    left: 0;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    content: "";
    margin-right: 10px;
    left: 16px; }
  .left-menu > li.menu__active p {
    font-family: Roboto-Medium;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #cfd8dc;
    padding-top: 9px;
    padding-bottom: 6px; }
    .left-menu > li.menu__active p::before {
      margin-top: 9px; }
  .left-menu > li.menu-news p::before {
    background-image: url("../images/icons/^106573CF4293E7C38908711DB12FC2D651028CF2AE4A37B24B^pimgpsh_fullsize_distr.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-news.menu__active p:before {
    background-image: url("../images/icons/ic_feeds_vertical_navifation_active.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.author-comment p:before {
    background-image: url("../images/icons/following-vertical-navifation-inactive.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.author-comment.menu__active p:before {
    background-image: url("../images/icons/ic_following_vertical_navifation_active.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-comment p:before {
    background-image: url("../images/icons/ic_comment_vertical_navifation.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-comment.menu__active p:before {
    background-image: url("../images/icons/ic_comment_vertical_navifation_active.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-advertise p:before {
    background-image: url("../images/icons/ic_promotion_vertical_navigation.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-advertise.menu__active p:before {
    background-image: url("../images/icons/ic_promotion_vertical_navifation_active.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-bookmark p:before {
    background-image: url("../images/icons/ic_saved_vertical_navifation.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-bookmark.menu__active p:before {
    background-image: url("../images/icons/ic_saved_vertical_navifation_active.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-gift p:before {
    background-image: url("../images/icons/ic_egift_vertical_navifation.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-gift.menu__active p:before {
    background-image: url("../images/icons/ic_egift_vertical_navifation_active.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-history p:before {
    background-image: url("../images/icons/ic_history_vertical_navifation.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-history.menu__active p:before {
    background-image: url("../images/icons/ic_history_vertical_navifation_active.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-infomation p:before {
    background-image: url("../images/icons/ic_account_info_vertical_navifation.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li.menu-infomation.menu__active p:before {
    background-image: url("../images/icons/ic_account_info_vertical_navifation_active.png");
    background-repeat: no-repeat;
    background-position: center; }
  .left-menu > li li {
    padding-left: 20px;
    padding-left: 2px;
    margin: 9px 0px;
    margin-left: 50px; }
    .left-menu > li li:before {
      width: 20px;
      height: 20px;
      top: -5px;
      left: 0;
      margin-right: 10px;
      display: inline-block;
      position: absolute;
      content: "";
      top: 1px;
      margin-right: 10px;
      left: -22px; }
    .left-menu > li li.menu-connected:before {
      background-image: url("../images/icons/connected-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }

.container .row {
  margin: 0; }

.left-support li {
  margin-bottom: 7px; }
  .left-support li span {
    font-family: Roboto-Medium; }
  .left-support li.left-support__email {
    color: #4990e2; }

.dropdown-toggle__social {
  margin-top: -25px; }

.main-left {
  margin-top: 20px; }

.bolck__News-saved > li {
  margin-bottom: 20px !important;
  position: relative;
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 2px; }
  .bolck__News-saved > li > img {
    position: absolute;
    top: 20px;
    right: 25px; }

.active--new-saved {
  margin-top: 12px; }

.content__img-thumb {
  width: 100%;
  height: 137px; }
  .content__img-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px; }

.main-title__news {
  margin-bottom: 20px; }

.box-comment__new-saved {
  font-size: 20px;
  line-height: 1.2;
  color: #1f1f1f;
  padding-right: 84px !important; }

.box-commet__share1 a {
  font-family: Roboto-Medium; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  cursor: default;
  background-color: inherit;
  font-size: 15px;
  line-height: 1.4;
  color: #1f1f1f;
  border: 0px;
  border-bottom: 1px solid #1f1f1f; }

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
  background: transparent;
  border: 0px; }

.nav-tabs > li > a {
  font-size: 15px;
  color: #8090a3;
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0; }

.nav-tabs {
  margin-bottom: 20px; }

.gift--nav-tabs {
  margin-bottom: 0px; }

.gift-detail--content h5 {
  font-size: 20px;
  line-height: 1.2;
  color: #1f1f1f;
  margin-top: 30px;
  margin-bottom: 10px; }

.gift-detail--content p {
  font-size: 15px;
  line-height: 1.4;
  color: #1f1f1f; }

.gift-detail--content .gift-border {
  background-color: #cfd8dc;
  height: 1px;
  margin-top: 30px; }

.gift-detail--content img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; }

.map {
  margin-top: 10px !important; }

.news__content {
  margin-top: 36px; }
  .news__content .new__content--title {
    font-size: 15px;
    line-height: 1.4;
    color: #8090a3; }
  .news__content .new__Good-comment {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #eceff1;
    padding: 16px;
    margin-top: 10px; }
    .news__content .new__Good-comment .content--title-border {
      border-bottom: 1px solid #eceff1;
      margin-bottom: 10px;
      padding-bottom: 10px; }

.news__will-like {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #eceff1;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 20px; }
  .news__will-like .will-like--text {
    font-size: 15px;
    line-height: 1.47;
    color: #1f1f1f;
    margin-top: 6px;
    margin-bottom: 10px; }

.new__Good-comment .will-like--text {
  font-size: 15px;
  line-height: 1.47;
  color: #1f1f1f;
  margin-top: 6px;
  margin-bottom: 10px; }

.new__Good-comment .new__good-link {
  font-size: 15px;
  font-family: Roboto-Medium;
  line-height: 1.47;
  color: #4990e2;
  display: block;
  margin-top: -6px;
  margin-bottom: 7px; }

.new__Good-comment ul li {
  display: inline-block;
  margin-right: 20px; }

.VnExpress-date {
  margin-bottom: 11px; }
  .VnExpress-date p {
    position: relative;
    margin-left: 56px;
    font-size: 13px;
    line-height: 1.69;
    text-align: left;
    color: #96949d; }
    .VnExpress-date p span {
      font-family: Roboto-Medium;
      color: #1f1f1f;
      line-height: 1.4;
      font-size: 15px; }
    .VnExpress-date p:after {
      top: -5px;
      left: 0;
      margin-right: 10px;
      display: inline-block;
      position: absolute;
      content: "";
      width: 42px;
      height: 42px;
      top: 0px;
      left: -55px; }
  .VnExpress-date .main--icon-vnexpress:after {
    background-image: url("../images/icons/vne-post.png");
    background-repeat: no-repeat;
    background-position: center; }
  .VnExpress-date .main--icon-ngoisao:after {
    background-image: url("../images/icons/ic_ngoisao_feed.png");
    background-repeat: no-repeat;
    background-position: center; }
  .VnExpress-date .main--icon-ione:after {
    background-image: url("../images/icons/ic_ione_feed.png");
    background-repeat: no-repeat;
    background-position: center; }
  .VnExpress-date .main--icon-shop:after {
    background-image: url("../images/icons/ic_shop_feed.png");
    background-repeat: no-repeat;
    background-position: center; }
  .VnExpress-date .main--icon-raovat:after {
    background-image: url("../images/icons/ic_raovat_feed.png");
    background-repeat: no-repeat;
    background-position: center; }
  .VnExpress-date .main--icon-pay:after {
    background-image: url("../images/icons/ic_pay_feed.png");
    background-repeat: no-repeat;
    background-position: center; }

.right__Ecosystem-product {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #eceff1;
  padding: 16px;
  margin-top: 10px; }

.news__main-right {
  margin-top: 57px; }

.new-right__icon p {
  position: relative;
  margin-left: 36px;
  font-size: 15px;
  line-height: 1.4;
  color: #1f1f1f; }
  .new-right__icon p:after {
    top: -5px;
    left: 0;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -4px;
    left: 0px; }

.new-right__icon .icon-vnexpress-mini:after {
  background-image: url("../images/icons/vne-suggest-page.png");
  background-repeat: no-repeat;
  background-position: center; }

.new-right__icon .icon-ngoisao-mini:after {
  background-image: url("../images/icons/ngoisao-suggest.png");
  background-repeat: no-repeat;
  background-position: center; }

.new-right__icon .icon-one-mini:after {
  background-image: url("../images/icons/ione-suggest-page11.png");
  background-repeat: no-repeat;
  background-position: center; }

.new-right__icon .icon-shop-mini:after {
  background-image: url("../images/icons/ic_vne_suggest_page.png");
  background-repeat: no-repeat;
  background-position: center; }

.new-right__icon .icon-raovat-mini:after {
  background-image: url("../images/icons/ic_ngoisao_suggest.png");
  background-repeat: no-repeat;
  background-position: center; }

.new-right__icon .icon-pay-mini:after {
  background-image: url("../images/icons/ic_ione_suggest_page.png");
  background-repeat: no-repeat;
  background-position: center; }

.right__Ecosystem-product ul li {
  border-top: 1px solid #cfd8dc;
  padding: 16px 0px; }
  .right__Ecosystem-product ul li a {
    display: block;
    text-align: right; }

.Trading_code p {
  color: red; }

.history-empty {
  padding-top: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #eceff1;
  height: 615px;
  margin-bottom: 50px; }
  .history-empty p {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    color: #1f1f1f;
    margin: 15px 0px; }
    .history-empty p span {
      font-family: Roboto-Medium; }

.dropdown-menu--notification {
  padding: 15px; }
  .dropdown-menu--notification .title {
    font-family: Roboto-Medium;
    margin-bottom: 7px; }
  .dropdown-menu--notification li {
    border-bottom: 1px solid #cfd8dc;
    margin-bottom: 10px; }

.new-right__icon--notification .main--icon-ione span.date {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  color: #8090a3;
  font-family: Roboto-Regular; }

.unsuccessful-histor {
  text-align: center;
  margin-left: 15px; }

.usetwentyfour {
  display: block !important; }

.bootstrap-datetimepicker-widget {
  display: block !important; }

#from_date {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cfd8dc;
  height: auto;
  width: 135px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  line-height: 1.4;
  color: #4990e2; }

#to_date {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cfd8dc;
  height: auto;
  width: 135px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  line-height: 1.4;
  color: #4990e2; }

input[type=text]:focus:not([readonly]) {
  box-shadow: inherit !important; }

.nav-tabs > li > a {
  border: 0px; }

.flexslider .slides li {
  height: 40vw; }
  .flexslider .slides li img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.bx-wrapper {
  /* position: relative; */
  /* margin-bottom: 60px; */
  /* padding: 0; */
  -ms-touch-action: pan-y;
  /* touch-action: pan-y; */
  -moz-box-shadow: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  border: 0px;
  background: #fff; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #cfd8dc;
  text-indent: -9999px;
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 4px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 0px; }

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #f37021; }

.bx-wrapper .bx-pager {
  bottom: -20px; }

.promotion {
  padding-top: 30px;
  padding-bottom: 30px; }

.promotion-code:hover .unselect {
  display: block; }

.promotion-code:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #f37021; }

.promotion-product {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #eceff1;
  margin-bottom: 15px;
  position: relative; }
  .promotion-product .eid-new--img {
    width: 100%;
    height: 171px; }
    .promotion-product .eid-new--img a img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
  .promotion-product .eid-new__text a {
    font-family: Roboto-Light;
    font-size: 24px;
    font-weight: 300;
    color: #1f1f1f;
    margin-top: 24px;
    display: block;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 92px;
    overflow: hidden; }
    .promotion-product .eid-new__text a:hover {
      color: #4990e2;
      font-family: Roboto-regular; }
  .promotion-product .eid-new__text p {
    font-size: 15px;
    line-height: 1.4;
    color: #8090a3;
    padding-bottom: 20px; }
  .promotion-product .unselect {
    position: absolute;
    top: 6px;
    right: 4px;
    display: none; }
  .promotion-product p {
    font-size: 22px;
    line-height: 1;
    color: #f37021;
    padding: 0 15px; }
    .promotion-product p.regular {
      display: none; }
      .promotion-product p.regular span {
        text-decoration: none; }
    .promotion-product p span {
      font-size: 12px;
      color: #f37021;
      text-decoration: line-through; }
  .promotion-product .promotion-product__thumb {
    position: relative;
    width: 100%;
    height: 183px; }
    .promotion-product .promotion-product__thumb.gift--product-thumb a img {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px; }
    .promotion-product .promotion-product__thumb.gift--product-thumb span {
      background-color: rgba(0, 0, 0, 0.35);
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-family: Roboto-Medium;
      font-size: 13px;
      color: #ffffff;
      border-radius: 4px;
      padding: 6px 12px;
      padding-left: 30px; }
      .promotion-product .promotion-product__thumb.gift--product-thumb span:before {
        position: absolute;
        width: 14px;
        height: 18px;
        top: -5px;
        left: 0;
        margin-right: 10px;
        display: inline-block;
        position: absolute;
        content: "";
        top: 5px;
        left: 9px;
        background-image: url("../images/icons/egfit-location.png");
        background-repeat: no-repeat;
        background-position: center; }
    .promotion-product .promotion-product__thumb .view-more {
      position: absolute;
      width: 155px;
      height: 48px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      font-size: 15px;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      border-radius: 4px;
      background-color: #F37023;
      padding: 12px 38px;
      display: none; }
    .promotion-product .promotion-product__thumb a img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
  .promotion-product .promotion-product__text {
    padding: 10px 15px; }
    .promotion-product .promotion-product__text a {
      border: 0px;
      display: block;
      height: 63px;
      font-family: Roboto-Medium;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.4;
      color: #1f1f1f;
      text-decoration: none;
      padding-top: 2px; }
    .promotion-product .promotion-product__text button {
      border: 0px;
      display: block;
      font-family: Roboto-Medium;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.4;
      color: #1f1f1f;
      text-decoration: none;
      padding-top: 2px; }
      .promotion-product .promotion-product__text button.receive {
        display: block;
        width: 100%;
        height: 45px;
        background-image: url("../images/icons/egift-nhanqua.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        text-align: center;
        color: #fff;
        font-size: 15px;
        font-family: Roboto-Bold;
        border-radius: 4px;
        margin-bottom: 10px; }
      .promotion-product .promotion-product__text button.gift-code {
        display: block;
        width: 100%;
        height: 45px;
        text-align: center;
        color: #1f1f1f;
        font-size: 20px;
        font-family: Roboto-Regular;
        border-radius: 4px;
        margin-bottom: 10px;
        padding-top: 8px;
        background-color: #cfd8dc; }
    .promotion-product .promotion-product__text .received {
      display: block;
      width: 100%;
      height: 45px;
      background: #eceff1;
      text-align: center;
      color: #1f1f1f;
      font-size: 15px;
      font-family: Roboto-Bold;
      border-radius: 4px;
      margin-bottom: 10px; }
    .promotion-product .promotion-product__text .gift-expired {
      display: block;
      width: 100%;
      height: 45px;
      background: #eceff1;
      text-align: center;
      color: #1f1f1f;
      font-size: 15px;
      font-family: Roboto-Bold;
      border-radius: 4px;
      margin-bottom: 10px; }
    .promotion-product .promotion-product__text p {
      font-size: 15px;
      line-height: 1.4;
      color: #8090a3;
      padding: 10px 0; }

.main {
  position: relative; }

.header-navigation {
  position: static; }
  .header-navigation.main-nav {
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    height: 60px; }
  .header-navigation .main-nav__list-gift li {
    display: none; }
  .header-navigation.header-navigation__fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999; }
    .header-navigation.header-navigation__fixed.second-navigation {
      top: 52px;
      box-shadow: inherit;
      background: #f9f9f9; }
    .header-navigation.header-navigation__fixed .main-nav__list-gift:hover li {
      display: block; }
  .header-navigation.bottom-align {
    position: absolute; }

.gift__nav > li {
  float: left; }
  .gift__nav > li.main-nav__list-gift > a {
    display: block;
    background: #f37021;
    color: #fff;
    height: 60px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    padding-top: 20px;
    padding-left: 63px; }
    .gift__nav > li.main-nav__list-gift > a:before {
      position: absolute;
      width: 24px;
      height: 24px;
      top: -5px;
      left: 0;
      margin-right: 10px;
      display: inline-block;
      position: absolute;
      content: "";
      top: 19px;
      left: 36px;
      background-image: url("../images/icons/hamburger-menu1.png");
      background-repeat: no-repeat;
      background-position: center; }
  .gift__nav > li.visible-affix > a {
    display: block;
    background: #fff;
    color: #4990e2;
    height: 60px;
    font-size: 15px;
    font-family: Roboto-Medium;
    padding-top: 20px;
    padding-left: 40px; }
    .gift__nav > li.visible-affix > a:before {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -5px;
      left: 0;
      margin-right: 10px;
      display: inline-block;
      position: absolute;
      content: "";
      top: 19px;
      left: 15px;
      background-image: url("../images/icons/ic-received-egfit.png");
      background-repeat: no-repeat;
      background-position: center; }

.home-gift--info {
  margin-top: 13px; }

.menu__list-gift {
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15); }
  .menu__list-gift li {
    position: relative;
    padding-left: 62px;
    padding-top: 7px;
    padding-bottom: 6px; }
    .menu__list-gift li.main-nav__list-gift a {
      font-family: Roboto-Medium;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.4;
      color: #ffffff; }
    .menu__list-gift li:hover {
      background-color: #eceff1; }
      .menu__list-gift li:hover a {
        font-family: Roboto-Medium;
        color: #1f1f1f; }
    .menu__list-gift li a {
      font-size: 15px;
      color: #1f1f1f; }
    .menu__list-gift li:before {
      position: absolute;
      width: 24px;
      height: 24px;
      top: -5px;
      left: 0;
      margin-right: 10px;
      display: inline-block;
      position: absolute;
      content: "";
      top: 6px;
      left: 20px; }
    .menu__list-gift li.list-gift__Highlights:before {
      background-image: url("../images/icons/egift-hot-gifts-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }
    .menu__list-gift li.list-gift__culinary:before {
      background-image: url("../images/icons/egift-food-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }
    .menu__list-gift li.list-gift__fashion:before {
      background-image: url("../images/icons/egift-fashion-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }
    .menu__list-gift li.list-gift__event:before {
      background-image: url("../images/icons/egift-entertiment-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }
    .menu__list-gift li.list-gift__travel:before {
      background-image: url("../images/icons/egift-travel-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }
    .menu__list-gift li.list-gift__beauty:before {
      background-image: url("../images/icons/egift-beauty-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }
    .menu__list-gift li.list-gift__edu:before {
      background-image: url("../images/icons/egift-edu-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }
    .menu__list-gift li.list-gift__tech:before {
      background-image: url("../images/icons/egift-tech-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }
    .menu__list-gift li.list-gift__build:before {
      background-image: url("../images/icons/egift-house-vertical-menu.png");
      background-repeat: no-repeat;
      background-position: center; }

.top-title {
  background: #f9f9f9; }
  .top-title ul {
    padding-left: 15px; }
    .top-title ul li {
      height: 70px;
      padding-top: 28px;
      display: inline-block; }
      .top-title ul li a {
        font-size: 15px;
        line-height: 1.4;
        color: #8090a3; }

.top-title--border {
  border-bottom: 1px solid #eceff1; }

.slick-dots li button::before {
  content: ""; }

.slick-dots li {
  background: #cfd8dc;
  width: 40px;
  height: 2px;
  padding: 0;
  margin: 0 3px; }

.slick-dots li:hover {
  background: #f37021; }

.gift--footer__border {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border-top: solid 1px #eceff1; }

.gift-back {
  font-size: 15px;
  line-height: 1.4;
  color: #8090a3;
  margin-bottom: 30px;
  margin-top: 60px;
  margin-left: 15px; }
  .gift-back img {
    margin-right: 6px;
    margin-top: -2px; }

.bbq-free {
  border: 1px solid #cfd8dc;
  padding: 15px;
  margin-bottom: 60px; }
  .bbq-free .receive-gift {
    display: block;
    width: 100%;
    height: 45px;
    background-image: url("../images/icons/btn-cta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-family: Roboto-Bold;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 12px; }
  .bbq-free .price {
    font-size: 22px;
    line-height: 1;
    color: #f37021;
    background-image: url("../images/icons/bitmap.png");
    background-position: right 0px;
    background-repeat: no-repeat;
    background-size: 62px;
    border-bottom: 1px solid #cfd8dc;
    padding-bottom: 20px; }
    .bbq-free .price span {
      font-size: 12px;
      color: #f37021;
      text-decoration: line-through; }
  .bbq-free .right--gift-title {
    font-family: Roboto-Light !important;
    font-size: 32px;
    line-height: 1.2;
    color: #1f1f1f;
    margin-top: 20px;
    margin-bottom: 35px; }
  .bbq-free .gift-Network li {
    list-style: none;
    display: inline-block;
    margin-right: 12px;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    color: #1f1f1f; }
  .bbq-free .gift-deadline li {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: #1f1f1f; }
    .bbq-free .gift-deadline li:hover {
      font-family: Roboto-Medium; }
    .bbq-free .gift-deadline li:before {
      position: absolute;
      width: 20px;
      height: 20px;
      top: -5px;
      left: 0;
      margin-right: 10px;
      display: inline-block;
      position: absolute;
      content: "";
      top: -2px;
      left: 1px;
      background-size: 100%; }
    .bbq-free .gift-deadline li:nth-child(1) {
      margin-right: 22px; }
      .bbq-free .gift-deadline li:nth-child(1):before {
        background-image: url("../images/icons/egift-ends-time.png");
        background-repeat: no-repeat;
        background-position: center; }
    .bbq-free .gift-deadline li:nth-child(2):before {
      background-image: url("../images/icons/egift-so-nguoi-nhan.png");
      background-repeat: no-repeat;
      background-position: center; }

.tab-pane-padding {
  padding-top: 16px;
  padding-bottom: 60px; }

.info--icon ul {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px; }
  .info--icon ul li {
    display: inline-block;
    margin-right: 30px; }

.eID-home--update-news {
  background-color: #f3f3f3;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px; }
  .eID-home--update-news.eID-home--height1 {
    height: 565px; }
  .eID-home--update-news.eID-home--height2 {
    height: 230px; }
  .eID-home--update-news.eID-home--height3 {
    height: 325px; }
  .eID-home--update-news h4 {
    font-size: 24px;
    color: #1f1f1f; }
  .eID-home--update-news p {
    font-size: 18px;
    line-height: 1.67;
    color: #8090a3;
    margin-top: 15px;
    margin-bottom: 30px; }
  .eID-home--update-news ul li {
    display: inline-block;
    margin-right: 20px; }
  .eID-home--update-news .eID-home--thumb {
    margin-top: 60px;
    width: 406px;
    height: 292px; }
    .eID-home--update-news .eID-home--thumb img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .eID-home--update-news .eID-home--icon img {
    margin-bottom: 33px; }

.setup-l {
  padding-left: 10px; }

.setup-all {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px !important; }

.setup-padd {
  padding-right: 0;
  padding-left: 10px; }

.home--gift-everyday {
  margin-top: 35px;
  margin-bottom: 60px; }
  .home--gift-everyday .eID-home--img-thumb {
    width: 372px;
    height: 401px;
    margin: auto;
    margin-bottom: 60px; }
    .home--gift-everyday .eID-home--img-thumb a img {
      object-fit: cover; }
  .home--gift-everyday .eID-home--update-news {
    background: #fff; }
    .home--gift-everyday .eID-home--update-news button {
      font-family: Roboto-Medium;
      font-size: 15px;
      text-align: center;
      color: #ffffff;
      border: 0px;
      background: #f37021;
      padding: 13px 31px;
      margin-right: 42px; }
      .home--gift-everyday .eID-home--update-news button:hover {
        background: rgba(243, 112, 33, 0.68); }
    .home--gift-everyday .eID-home--update-news a {
      font-family: Roboto-Medium;
      font-size: 15px;
      line-height: 1.47;
      color: #f37021; }

.main-home {
  background: #fff; }

.eID-home__nav {
  margin-right: 15px; }
  .eID-home__nav li {
    display: inline-block; }
    .eID-home__nav li.eID-home__register button {
      font-family: Roboto-Bold;
      font-size: 15px;
      color: #1f1f1f; }
    .eID-home__nav li.co-operate {
      border-right: 1px solid #eceff1; }
    .eID-home__nav li a {
      color: #8090a3;
      font-size: 15px;
      margin-right: 30px;
      position: relative; }
      .eID-home__nav li a:hover {
        color: rgba(0, 0, 0, 0.81); }
      .eID-home__nav li a:focus:before, .eID-home__nav li a:visited:before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 100%;
        height: 2px;
        background: #f37021;
        top: 24px;
        left: 0px; }
    .eID-home__nav li button {
      border: 0px;
      background: inherit;
      font-size: 15px;
      color: #8090a3;
      padding-left: 30px; }
      .eID-home__nav li button:hover {
        color: rgba(0, 0, 0, 0.81); }

.eid-home__head-logo {
  margin-left: 15px; }

.new-detail__content {
  margin-bottom: 120px; }
  .new-detail__content.new-detail__content--second h3, .new-detail__content.new-detail__content--second h4, .new-detail__content.new-detail__content--second p, .new-detail__content.new-detail__content--second > span {
    margin-left: 0px; }
  .new-detail__content.new-detail__content--second .agree--detail {
    margin-top: 24px; }
  .new-detail__content.new-detail__content--second h4 {
    margin-bottom: 20px; }
  .new-detail__content.new-detail__content--second a {
    font-family: Roboto-Bold; }
  .new-detail__content > a {
    display: block; }
    .new-detail__content > a img {
      width: 100%; }
      .new-detail__content > a img.new-detail__img-info {
        max-height: 450px; }
      .new-detail__content > a img.new-detail__img-thumb {
        max-height: 506px; }
  .new-detail__content h3 {
    max-width: 630px;
    margin: auto;
    font-family: Roboto-Light;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.31;
    color: #1f1f1f;
    margin-top: 60px;
    margin-bottom: 20px; }
  .new-detail__content h4 {
    max-width: 630px;
    margin: auto;
    font-family: Roboto-Bold;
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f; }
  .new-detail__content p {
    max-width: 630px;
    margin: auto;
    font-size: 15px;
    line-height: 1.4;
    color: #1f1f1f;
    margin-bottom: 25px; }
    .new-detail__content p.agree--detail {
      font-size: 32px;
      font-family: roboto-light;
      line-height: 1.31;
      color: #1f1f1f; }
    .new-detail__content p.new-detail__first-content {
      position: relative;
      left: 62px;
      padding-right: 62px; }
      .new-detail__content p.new-detail__first-content span {
        position: absolute;
        font-size: 71px;
        color: #F37021;
        letter-spacing: 0;
        top: -22px;
        left: -62px; }
    .new-detail__content p a {
      color: #4990E2; }
    .new-detail__content p span {
      font-weight: bold; }
      .new-detail__content p span.agree-number {
        margin-right: 21px; }
  .new-detail__content > span {
    display: block;
    max-width: 630px;
    margin: auto;
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #8090a3;
    margin-bottom: 30px; }
    .new-detail__content > span.new-second {
      margin-top: -30px; }
  .new-detail__content img {
    margin-bottom: 40px; }

.regiter-bd {
  max-width: 630px;
  margin: 0px; }

.regiter-bd form {
  max-width: 100%;
  margin-left: 0px;
  position: relative; }

.mdl-textfield__label {
  padding-left: 16px;
  top: 14px;
  font-size: 15px;
  line-height: 1.4;
  color: #8090a3;
  font-weight: 500; }

.mdl-textfield {
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #cfd8dc;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 4px; }

.is-focused .mdl-textfield__label, .is-dirty .mdl-textfield__label {
  width: 201px;
  height: 12px;
  font-family: Roboto-Regular;
  font-size: 10px !important;
  line-height: 1.2;
  color: #1f1f1f !important;
  top: 8px !important; }

.is-dirty input {
  font-size: 15px;
  line-height: 1.4;
  color: #1f1f1f;
  margin-left: 15px;
  border-bottom: 0px !important; }

.mdl-textfield.is-invalid {
  border: solid 1px red;
  line-height: 1.4;
  color: #1f1f1f;
  margin-left: 15px; }

.mdl-textfield__input {
  margin-left: 15px;
  font-weight: 500;
  line-height: 1.4;
  color: #1f1f1f;
  margin-left: 15px !important;
  margin-top: -5px !important; }

input[type=text], input[type=email], input[type=password] {
  border-bottom: 0px !important;
  box-shadow: none !important; }

input[type=text]:focus:not([readonly]) {
  border-bottom: 0px !important; }

#email {
  margin-left: 0px !important; }

.otherclass {
  color: red !important; }

#pass {
  margin-left: 0px !important; }

.mdl-textfield__error {
  color: #000;
  position: absolute;
  font-size: 12px;
  visibility: hidden;
  display: block;
  width: 210px;
  font-family: Roboto-Regular;
  font-size: 12px;
  line-height: 1.42;
  color: #1f1f1f;
  top: 7px;
  left: -222px;
  border-radius: 4px;
  padding: 7px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  background: #fff; }

.mdl-textfield__error:before {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: -10px;
  content: "";
  height: 1px;
  width: 1px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: rgba(0, 0, 0, 0.15) white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff; }

.description-contact {
  width: calc(100% - 16px);
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cfd8dc;
  margin-top: 20px;
  margin-bottom: 20px; }

.recaptcha-cuttom .recaptcha-cuttom--text {
  width: 159px;
  height: 50px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cfd8dc;
  float: left;
  margin-right: 10px; }
  .recaptcha-cuttom .recaptcha-cuttom--text input {
    background: inherit;
    border: 0px;
    border-radius: 4px;
    width: 130px;
    margin-left: 15px;
    padding-top: 14px; }

.recaptcha-cuttom .recaptcha-cuttom--img {
  float: left; }

.bt-dk {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  height: 45px;
  background-color: #f37021;
  border: 0px;
  margin-top: 15px;
  padding: 0 40px;
  border-radius: 4px; }
  .bt-dk:hover {
    opacity: 0.9; }
  .bt-dk:active {
    opacity: 0.8; }

.mdl-dialog__actions {
  position: absolute;
  top: -14px;
  right: -53px;
  height: 52px; }

.button-notification {
  position: relative; }
  .button-notification .notification--Quantity {
    position: absolute;
    display: block;
    width: 25px;
    height: 18px;
    background: #f37021;
    color: #fff;
    border-radius: 11px;
    font-family: Roboto-Medium;
    font-size: 12px;
    text-align: center;
    padding-top: 1px;
    top: -8px;
    left: 8px; }

.dropdown--notification {
  float: right; }
  .dropdown--notification button {
    padding: 0px;
    margin: 0px; }
  .dropdown--notification .dropdown-menu--notification {
    top: 35px;
    left: -418px;
    width: 500px; }
    .dropdown--notification .dropdown-menu--notification:before {
      position: absolute;
      display: inline-block;
      top: 3px;
      right: 29px;
      content: "";
      height: 1px;
      width: 1px;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: rgba(0, 0, 0, 0.15) white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid transparent;
      border-bottom: 10px solid #fff;
      box-sizing: border-box;
      border-color: transparent transparent #fff #fff;
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.02); }

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: inherit !important; }

.btn-primary:hover {
  background-color: inherit; }

.btn-primary:active, .open > .dropdown-toggle.btn-primary {
  border: inherit; }

.open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  border-color: inherit !important; }

.menu-mobile {
  display: block;
  display: inline-block; }
  @media (min-width: 768px) {
    .menu-mobile {
      display: none; } }
  .menu-mobile .menu-active-button {
    display: inline-block;
    margin-right: 12px; }

.head-logo {
  display: inline-block;
  display: inline-block; }

.menu-mobile .left-menu {
  display: none;
  position: absolute;
  width: 228px;
  background: #fff;
  z-index: 99999;
  left: -16px;
  top: 26px; }

.menu-active-button {
  border: none;
  background: inherit; }

.dropdown-toggle__mobile > img {
  margin-right: 13px; }

.main-left {
  display: block;
  position: relative; }
  @media (max-width: 767px) {
    .main-left {
      display: none; } }

.dropdown-toggle__mobile {
  margin-top: -29px; }

@media (max-width: 1400px) {
  .container {
    max-width: 1024px;
    margin: auto; } }

@media (max-width: 1397px) {
  .author-img {
    height: 117px !important; }
  .Trading_statur {
    width: 17%; } }

@media (max-width: 1307px) {
  .content__img-thumb {
    height: 162px; }
  .box-comment__new-saved a {
    font-size: 17px; } }

@media (max-width: 1200px) {
  .content__img-thumb {
    width: 100%;
    height: 160px; }
  .bolck__News-saved > li > img {
    display: none; }
  .box-comment__new-saved {
    padding-right: 0px !important; } }

@media (max-width: 1024px) {
  .nav-header li {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px; }
  .nav-dropdown__user {
    display: inline-block;
    margin-top: 4px; } }

@media (max-width: 992px) {
  .setup-l {
    padding-left: 0px; } }

@media (max-width: 767px) {
  .eid-home__head-logo {
    float: right; }
  .eID-home__nav {
    width: 200px;
    height: 233px; }
    .eID-home__nav li {
      width: 160px;
      margin-left: 33px;
      border-bottom: 1px solid #eceff1; }
      .eID-home__nav li.co-operate {
        border-right: 0px; }
      .eID-home__nav li button {
        padding-left: 0px; }
  .menu-mobile .left-menu {
    left: -71px;
    top: 27px; }
  .author-img {
    height: 300px !important; }
  .author-follow > ul > li .author-text h2 {
    margin-top: 19px; }
  .author-follow > ul > li .author-post {
    margin-bottom: 12px; } }

@media (max-width: 690px) {
  .top-title ul li {
    height: auto;
    display: block;
    padding-top: 0px; }
    .top-title ul li span {
      display: none; }
  .dropdown-toggle__mobile span {
    display: none; }
  .container {
    width: 100%; }
  .dropdown-toggle__mobile > img {
    margin-right: -3px; }
  .dropdown-menu {
    top: 32px;
    left: -95px; }
  .dropdown-menu__Newest {
    left: -38px; }
  .menu-mobile .left-menu {
    left: -16px;
    top: 26px; }
  .respon_mobile {
    width: 100%;
    margin: auto; }
  .content__img-thumb {
    width: 100%;
    height: 337px; }
    .content__img-thumb img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .promotion-product .promotion-product__thumb {
    height: 280px; }
  .promotion-product .eid-new--img {
    height: 250px; }
  .mdl-dialog__actions {
    position: absolute;
    top: -8px;
    right: -8px;
    height: 52px;
    opacity: 1; }
  .mdl-dialog__actions > *:first-child {
    margin-right: 0;
    position: relative;
    opacity: 1;
    background: #f37021;
    height: 38px;
    min-width: 36px; }
  .dropdown__arrow-cuttom:before {
    top: 0px;
    right: 4px; } }

@media (max-width: 520px) {
  .dropdown-toggle__mobile > img {
    margin-right: -17px; }
  .button-news {
    margin-left: 8px; }
  .box-commet__share1 {
    width: 100%; }
  .box-commet__share2 {
    width: 100%; }
  .content__img-thumb {
    height: 200px; }
  .box-comment__like ul li {
    display: block; }
  .main-title {
    font-size: 22px; }
  .gift__nav li {
    width: 100%; }
  .promotion-product .eid-new--img {
    height: 200px; } }

@media (max-width: 488px) {
  .comment__item2 {
    float: left; }
  .Social-sharing {
    /* float: right; */
    text-align: left;
    margin-left: -30px;
    margin-right: 18px;
    margin-top: 33px; }
  .respon_mobile {
    width: 100%;
    margin: auto; }
  .author-img {
    height: 300px !important; }
  .promotion-product .promotion-product__thumb {
    height: 200px; }
  .eID-home__nav li a {
    margin-right: 4px; }
  .eID-home__nav li button {
    padding-left: 0px; }
  .promotion-product .eid-new--img {
    height: auto; } }

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .author-follow > ul > li .author-text h2 {
    font-size: 13px;
    margin-bottom: 11px; }
  .author-follow > ul > li .author-text p {
    font-size: 13px;
    margin-bottom: 12px; }
  .author-follow > ul > li .author-text button {
    padding: 5px; }
  .author-follow > ul > li .author-post p {
    font-size: 12px; }
  .author-follow > ul > li .author-post ul li {
    font-size: 12px;
    margin-bottom: 5px; }
  .box-comment__new-saved {
    font-size: 16px; } }
