@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../font/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("../font/Roboto-Light.ttf");
}

body {
  overflow-x: hidden;
  font-family: Roboto-Regular;
  background-color: #f2f3f4;
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}

img {
  max-width: 100%;
}

.padd-l {
  padding-left: 0px;
}

.padd-r {
  padding-right: 0px;
}

.padd {
  padding-right: 0px;
  padding-left: 0px;
}

.mar {
  margin-left: 0px;
  margin-right: 0px;
}

.mar-l {
  margin-left: 0px;
}

.mar-r {
  margin-right: 0px;
}

.container {
  width: inherit;
}

.header {
  background-image: url("../images/icons/img1_02.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background: #fff;
}

.imgp img {
  transition: all .6s;
}

.imgp {
  overflow: hidden;
}

.xoay90 {
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}

.nav-header li {
  display: inline-block;
}

.regiter-bd {
  max-width: 400px;
  margin: auto;
  background-color: #ffffff;
  border: solid 1px #eceff1;
  padding-bottom: 34px;
}

.regiter-bd form {
  max-width: 300px;
  margin: auto;
  margin-top: 19px;
  padding-top: 14px;
  position: relative;
}

.mdl-textfield__label {
  padding-left: 16px;
  top: 14px;
  font-size: 15px;
  line-height: 1.4;
  color: #8090a3;
  font-weight: 500;
}

.mdl-textfield {
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #cfd8dc;
  margin-top: 10px;
}

.is-focused .mdl-textfield__label, .is-dirty .mdl-textfield__label {
  width: 201px;
  height: 12px;
  font-family: Roboto-Regular;
  font-size: 10px !important;
  line-height: 1.2;
  color: #1f1f1f !important;
  top: 8px !important;
}

.is-dirty input {
  font-size: 15px;
  line-height: 1.4;
  color: #1f1f1f;
  margin-left: 15px;
  border-bottom: 0px !important;
}

.mdl-textfield.is-invalid {
  border: solid 1px red;
  line-height: 1.4;
  color: #1f1f1f;
  margin-left: 15px;
}

.mdl-textfield__input {
  margin-left: 15px;
  font-weight: 500;
  line-height: 1.4;
  color: #1f1f1f;
  margin-left: 15px !important;
  margin-top: -12px !important;
}

input[type=text], input[type=email], input[type=password] {
  border-bottom: 0px !important;
  box-shadow: none !important;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 0px !important;
}

#email {
  margin-left: 0px !important;
}

.otherclass {
  color: red !important;
}

#pass {
  margin-left: 0px !important;
}

.mdl-textfield__error {
  color: #000;
  position: absolute;
  font-size: 12px;
  visibility: hidden;
  display: block;
  width: 210px;
  font-family: Roboto-Regular;
  font-size: 12px;
  line-height: 1.42;
  color: #1f1f1f;
  top: 7px;
  left: -222px;
  border-radius: 4px;
  padding: 7px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
}

.mdl-textfield__error:before {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: -10px;
  content: "";
  height: 1px;
  width: 1px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: rgba(0, 0, 0, 0.15) white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}

.g-recaptcha {
  margin-top: 19px !important;
}

.bt-dk {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  margin: auto;
  display: block;
  height: 45px;
  background-color: #9f224e;
  border: 0px;
  margin-top: 15px;
  padding: 0 40px;
}

.bt-dk:hover {
  opacity: 0.9;
}

.bt-dk:active {
  opacity: 0.8;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
  border: 2px solid #4a90e2;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background: #4a90e2;
}

.or-dk {
  position: relative;
  text-align: center;
  width: 75%;
  margin: auto;
  font-family: Roboto-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #8090a3;
}

.or-cover {
  margin: auto;
  margin-top: 24px;
  margin-bottom: 14px;
  position: relative;
  z-index: 10;
  max-width: 300px;
}

.or-dk {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20px;
}

.or-dk > span {
  padding: 0 15px;
  background: #fff;
}

.or-dk > span:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  height: 0.75em;
  border-top: 1px solid #cfd8dc;
  z-index: -1;
}

.Network-icon {
  padding: 8px 7px;
  font-family: Roboto-Regular;
  font-size: 15px;
  text-align: center;
  color: #666666;
  background-color: #eeeeee;
  margin-top: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}

.Network-icon img {
  margin-right: 17px;
}

.mxt-ip {
  display: block;
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #8090a3;
  margin-top: 14px;
}

.mxt-ip:hover {
  color: #1f1f1f;
}

.mxt-ip span {
  color: #4a90e2;
  font-family: Roboto-Medium;
  margin-left: 4px;
}

.mxt-ip span:hover {
  color: #4a90e2;
}

.mdl-checkbox__label {
  width: 275px;
  height: 38px;
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 1.46;
  color: #1f1f1f;
}

.mdl-checkbox__label a {
  color: #4a90e2;
  font-family: Roboto-Medium;
}

.register-lb1 {
  font-family: Roboto-Regular;
  font-size: 24px;
  line-height: 1;
  color: #1f1f1f;
  margin-bottom: 14px;
  display: block;
  text-align: center;
}

div > .register-lb1 {
  /* margin-top: 30px;*/
}

.brde-cb {
  width: 400px !important;
  margin: auto;
  padding-top: 20px;
}

.nav-header li {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-header {
  text-align: center;
}

.kh-accout-text {
  width: 600px;
  background-color: #ffffff;
  border: solid 1px #eceff1;
  padding: 25px;
  margin: auto;
  margin-top: 50px;
}

.kh-accout-text h3 {
  font-size: 24px;
  line-height: 1;
  color: #1f1f1f;
}

.kh-accout-text p {
  font-size: 15px;
  line-height: 1.4;
  color: #1f1f1f;
  margin-top: 15px;
}

.kh-accout-text ul li {
  display: inline-block;
}

.kh-accout-text ul li {
  font-size: 15px;
  line-height: 1.47;
  color: #4a90e2;
  padding-right: 40px;
  padding-top: 5px;
  font-family: Roboto-Medium;
}

.kh-accout-text ul {
  margin-top: 22px;
}

.kh-accout-text ul li {
  display: inline-block;
}

.kh-accout-text ul li:last-child {
  margin-left: 20px;
  /* border-right: 1px solid #cfd8dc;*/
}

.kh-accout-text ul li:first-child {
  margin-right: 20px;
  border-right: 1px solid #cfd8dc;
  padding-top: 5px;
  font-family: Roboto-Medium;
}

.nav-header2 li {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.from-dk002 {
  float: right;
}

.from-dk002 button {
  border: 0px;
  background: inherit;
  margin-top: 14px;
}

.from-dk002 button:focus {
  font-weight: bold;
}

.text-dk002 {
  font-family: Roboto-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #1f1f1f;
  margin-top: -5px;
}

.regiter-bd2 {
  max-width: 400px;
  margin: auto;
  border-radius: 0px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px red;
  padding: 30px 50px;
  border: solid 1px #eceff1;
  padding-bottom: 48px;
}

.bt-dk2 {
  margin-top: 22px;
}

.qmk {
  position: relative;
  top: 7px;
  height: 21px;
  font-family: Roboto-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #4a90e2;
}

.Memorize {
  margin-top: 10px;
  margin-bottom: -14px;
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #1f1f1f;
}

.mdl-dialog__actions {
  position: absolute;
  top: -14px;
  right: -53px;
  height: 52px;
}

.mdl-dialog {
  padding: 0px !important;
  border-radius: 0px;
}

.bg-iconrc {
  /* background-image: url(../images/icons/eye-close.png);*/
  background-repeat: no-repeat;
  background-position: right 12px;
  background-position: 250px center;
}

.mdl-button {
  text-transform: none;
  font-size: 20px;
  color: #fff;
}

.text-dk002 img {
  margin-right: 9px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.bg-iconmail {
  background-image: url(../images/icons/eye-close.png);
  background-repeat: no-repeat;
  background-position: right 12px;
  background-position: 250px center;
}

.buton-change-ac {
  position: relative;
}

.buton-change-ac img {
  position: absolute;
  right: 18px;
  top: 4px;
}

.pass {
  position: relative;
}

#eye {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 30px;
  height: 25px;
  background-image: url(../images/icons/eye-close.png);
}

#eye.red-eye {
  background-image: url(../images/icons/eye-open.png);
}

dialog::-webkit-backdrop {
  background-color: rgba(30, 30, 30, 0.3);
}

dialog::backdrop {
  background-color: rgba(30, 30, 30, 0.3);
}

.mdl-dialog {
  width: 400px;
}

.bt-dk-h {
  height: 45px;
  background-color: #eeeeee;
  border: 0px;
  margin-top: 15px;
  font-family: Roboto-Regular;
  font-size: 15px;
  line-height: 1.47;
  color: #666666;
  margin-left: 9px;
}

.bt-dk-h:active {
  background-color: #eeeeee;
}

.checkbox-01 {
  float: left;
}

.checkbox-02 {
  float: right;
  margin-top: 3px;
  margin-bottom: 12px;
}

.icon-mobile {
  display: none;
}

.rc-anchor-light {
  background: #f9f9f9;
  border: 1px solid #d3d3d3;
  color: #000;
  width: 200px !important;
}

.mdl-button2 {
  width: 100%;
}

.container {
  widht: inherit;
}

.container .row {
  margin-left: inherit;
  margin-right: inherit;
}

.row {
  margin-left: inherit;
  margin-right: inherit;
  margin-bottom: 0px;
}

.Social-Network {
  max-width: 300px;
  margin: auto;
}

.mxt-ip span:focus {
  font-weight: bold;
}

.button-dk2 {
  width: 36%;
  display: inline-block;
  padding: 0px;
}

.mdl-dialog {
  width: 400px;
  top: 117px;
}

.register-lb2 {
  text-align: left;
}

.bt-dk2 {
  margin-left: 0px;
}

.bt-dk3 {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}

.logo-mobile {
  display: none;
}

.regiter-bd form.brde-cb:before {
  position: absolute;
  left: -50px;
  content: " ";
  display: block;
  border-top: 1px solid #cfd8dc;
  width: calc(100% + 100px);
  top: 0;
}

.register {
  background-color: #f2f3f4;
  padding-top: 60px;
  padding-bottom: 120px;
}

.register02 {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #f9f9f9;
}

.kh-accout {
  margin-top: 0px;
}

.kh-accout-text img {
  padding-bottom: 14px;
}

.mdl-button.close {
  position: relative;
  opacity: 1;
  background: inherit !important;
}

.mdl-button.close:hover {
  background: inherit !important;
}

.mdl-dialog__success1 {
  font-size: 20px !important;
  line-height: 1.2 !important;
  color: #1f1f1f !important;
}

.mdl-dialog__success1 img {
  padding-bottom: 14px;
  margin-right: 6px;
  margin-top: 3px;
}

.mdl-dialog__content {
  padding: 0px 49px !important;
}

.mdl-dialog2 {
  border: 0 !important;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  top: 231px;
  padding: 0 32px;
}

.mdl-dialog3::-webkit-backdrop {
  background-color: #f2f3f4 !important;
}

.mdl-dialog3::backdrop {
  background-color: #f2f3f4 !important;
}

.register-lb01 {
  text-align: left;
}

.register--bold {
  font-family: Roboto-Medium;
}

.email-accout-text {
  background-color: #ffffff;
  border: solid 1px #eceff1;
  padding: 25px;
  margin: auto;
  margin-top: 50px;
}

.email-accout-text li {
  font-size: 15px;
  color: #1f1f1f;
  margin-bottom: 7px;
}

.email-accout-text li a {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  height: 45px;
  background-color: #9f224e;
  border: 0px;
  margin-top: 15px;
  padding: 13px 43px;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 17px;
}

.email-accout-text li span {
  color: #4990e2;
}

.email-accout-text img {
  margin-bottom: 15px;
}

.email-accout-text p {
  color: #1f1f1f;
  font-size: 15px;
  margin-bottom: 15px;
}

.email-accout-text p span {
  color: #7b7b7b;
}

.recaptcha-cuttom {
  margin-top: 10px;
}

.recaptcha-cuttom .recaptcha-cuttom--img > img {
  margin-left: 10px;
}

.recaptcha-cuttom .recaptcha-cuttom--img button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  float: right;
}

.recaptcha-cuttom .recaptcha-cuttom--text {
  width: calc(100% - 150px);
  float: left;
  border: 1px solid #cfd8dc;
  padding-top: 3px;
  padding-left: 17px;
  height: 50px;
}

.recaptcha-cuttom .recaptcha-cuttom--text input {
  margin-bottom: 0px;
}

.kh-accout-text a {
  font-size: 15px;
  line-height: 1.47;
  color: #4a90e2;
  padding-right: inherit;
  font-family: Roboto-Medium;
  margin-top: 17px;
  display: block;
  margin-bottom: 9px;
}

.kh-accout-text a:hover {
  color: rgba(74, 144, 226, 0.66);
}

.nav-dropdown__user {
  display: inline-block;
  float: right;
  margin-top: -1px;
  position: relative;
}

.button-notification {
  display: inline-block;
  float: right;
  margin-top: 4px;
  margin-left: 17px;
}

.button-news {
  display: inline-block;
  float: right;
  margin-top: 4px;
  margin-left: 20px;
}

.header-second {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
}

.header-second.header-fix {
  position: fixed;
  z-index: 99999;
  width: 100%;
}

.dropdown-toggle {
  background: inherit;
  border: 0px;
}

.dropdown-toggle__bg {
  position: relative;
}

.dropdown-toggle__bg > img {
  margin-left: 11px;
  margin-right: 10px;
}

.dropdown-toggle__bg span img {
  margin-left: 8px;
}

.dropdown-menu {
  top: 37px;
  left: 30px;
}

.dropdown__arrow-cuttom {
  position: relative;
}

.dropdown__arrow-cuttom:before {
  position: absolute;
  display: inline-block;
  top: -1px;
  right: 4px;
  content: "";
  height: 1px;
  width: 1px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: rgba(0, 0, 0, 0.15) white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 10px solid #fff;
  box-sizing: border-box;
  border-color: transparent transparent #fff #fff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.02);
}

.dropdown-menu {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  border: 0px;
}

.dropdown-menu li a {
  font-size: 13px;
  color: #1f1f1f;
}

.dropdown-toggle__Newest {
  position: relative;
  color: #4990e2;
}

.dropdown-toggle__Newest:before {
  position: absolute;
  display: inline-block;
  content: "";
  height: 0;
  width: 0;
}

.dropdown__arrow-cuttom:before {
  top: -2px;
  right: 6px;
}

.dropdown-menu__Newest {
  left: -36px;
}

.dropdown-menu__social {
  color: #4990e2;
  right: 30px;
  left: auto;
  width: 400px;
}

.dropdown-menu__social:before {
  position: absolute;
  display: inline-block;
  content: "";
  height: 0;
  width: 0;
}

.dropdown-menu__social > li {
  width: auto;
  float: left;
}

.dropdown-menu__social > li > a {
  clear: none;
  display: inline-block;
}

.regiter-Success {
  text-align: center;
}

.regiter-Success .regiter-Success--title {
  font-family: Roboto-Light;
  font-size: calc(1vw + 22px);
  line-height: 1.11;
  text-align: center;
  color: #1f1f1f;
  margin-top: calc(7vw + 48px);
  margin-bottom: 40px;
}

.regiter-Success .regiter-Success--myaccount {
  font-family: Roboto-Light;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: #1f1f1f;
}

.regiter-Success .regiter-Success--myaccount span {
  font-family: Roboto-Medium;
}

.regiter-Success .regiter-Success--content {
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  color: #1f1f1f;
  margin-top: 20px;
  margin-bottom: calc( 2vw + 28px);
}

/*end menu-mobile*/
@media (max-width: 1400px) {
  .container {
    max-width: 1024px;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .nav-header li {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .footer {
    background-image: url("../images/icons/img11_03.png");
    background-size: cover;
  }
  .nav-header2 {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
  .nav-header {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 650px;
    margin: auto;
  }
  .nav-header {
    direction: none;
  }
}

@media (max-width: 680px) {
  .dropdown-toggle__mobile span {
    display: none;
  }
  .dropdown-toggle__bg > img {
    margin-left: 0px;
  }
  .dropdown-menu {
    top: 39px;
    left: -93px;
  }
  .dropdown-toggle__bg {
    position: relative;
    width: 35px;
    height: 30px;
  }
  .dropdown__arrow-cuttom:before {
    top: 0px;
    right: 21px;
  }
  .regiter-bd form.brde-cb:before {
    border-top: 1px solid #f2f3f4;
  }
  .container {
    max-width: 500px;
    margin: auto;
  }
  .logo-mobile {
    display: block;
    margin-top: 12px;
    margin-bottom: 10px;
  }
  .from-dk002 button {
    margin-top: 16px;
  }
  .nav-header {
    display: none;
  }
  .icon-mobile {
    display: inline-block;
    margin-left: 14px;
  }
  .regiter-bd {
    max-width: 320px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .regiter-bd form:before {
    left: -20px;
    width: calc(100% + 40px);
  }
  .mdl-textfield {
    width: 100%;
  }
  .rc-anchor-light {
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    color: #000;
    width: 275px !important;
  }
  #rc-imageselect, .g-recaptcha {
    -ms-transform: scale(0.92);
    transform: scale(0.92);
    -webkit-transform: scale(0.92);
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  .brde-cb {
    padding-left: 0px;
    padding-right: 0px;
  }
  .brde-cb {
    width: 281px !important;
  }
  .mxh {
    width: 276px;
    margin: auto;
  }
  .kh-accout-text {
    width: 100%;
  }
  .kh-accout-text ul li:first-child {
    margin-right: 0px;
    border-right: 1px solid #fff;
  }
  .kh-accout-text ul li {
    padding: 0px;
    display: block;
    text-align: left;
  }
  .regiter-bd2 {
    width: 100%;
    border: solid 1px #eceff1;
  }
  .header {
    margin-bottom: 0px;
  }
  .or-dk {
    width: 100%;
  }
  .logo-mobile {
    display: block;
    margin-top: 12px;
  }
  .regiter-bd3 {
    padding: 30px 15px;
  }
}

.left--Social-Network {
  padding-left: 0px;
  padding-right: 0px;
}

.left--Social-Network p {
  margin-right: 7px;
}

.right--Social-Network {
  padding-left: 0px;
  padding-right: 0px;
}

.right--Social-Network p {
  margin-left: 7px;
}

@media (max-width: 520px) {
  .mdl-dialog__actions--unselect {
    position: absolute !important;
    right: -54px !important;
    bottom: 35px !important;
    top: initial !important;
  }
  .mdl-dialog2 {
    border: 0 !important;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
    top: 214px;
    left: 8px;
    max-width: 300px;
  }
  .re-mb {
    width: 100%;
    margin: auto;
  }
  #rc-imageselect, .g-recaptcha {
    -ms-transform: scale(0.92);
    transform: scale(0.92);
    -webkit-transform: scale(0.92);
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  .regiter-bd {
    max-width: 320px;
    margin: auto;
    padding-left: 20px;
    padding-bottom: 34px;
  }
  .button-dk2 {
    width: 100%;
  }
  .mdl-dialog__content {
    padding: 0 !important;
    padding-bottom: 14px !important;
  }
  .bt-dk-h {
    margin-left: 0px;
  }
  .mdl-dialog__actions {
    position: absolute;
    right: -30px;
    bottom: -40px;
    top: initial;
  }
  .mdl-dialog__success1 img {
    width: 40px;
    padding-bottom: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .mdl-dialog__success1 span {
    font-size: 11px;
  }
  .kh-accout-text {
    border: 0px;
    margin-top: 0px;
  }
  .register {
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 120px;
    /* border: 0px; */
  }
  .kh-accout-text {
    padding: 25px 0px;
  }
  body {
    background: #fff;
  }
  .regiter-bd {
    border: 0px;
    padding: 0px;
  }
  .regiter-bd2 {
    margin: auto;
    border-radius: 0px;
    background-color: #fff;
    box-shadow: none;
    padding: 30px 0;
    border: 0;
  }
  .header {
    background-color: #f9f9f9;
  }
  .container {
    width: 100%;
  }
  .kh-accout-text {
    border: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 420px) {
  .regiter-bd2 {
    max-width: 362px;
  }
}

@media (max-width: 388px) {
  .kh-accout-text {
    max-width: 350px;
    border: 0px;
    margin-top: 0px;
  }
  .mdl-textfield {
    width: 100%;
  }
  .rc-anchor-light {
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    color: #000;
    max-width: 200px !important;
  }
  .regiter-bd form:before {
    left: -60px;
    width: calc(100% + 120px);
  }
  #rc-imageselect, .g-recaptcha {
    -ms-transform: scale(0.89);
    transform: scale(0.89);
    -webkit-transform: scale(0.89);
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  .brde-cb {
    padding-left: 0px;
    padding-right: 0px;
  }
  .mxh {
    margin: auto;
  }
  .regiter-bd {
    border: 0;
  }
  .regiter-bd2 {
    width: 100%;
  }
  .mdl-dialog {
    width: 100%;
    top: 0px;
  }
  .button-dk2 {
    width: 49%;
    display: inline-block;
  }
  .mdl-dialog {
    width: 100%;
  }
  .Network-icon img {
    margin-right: 4px;
  }
  .mdl-checkbox.is-upgraded {
    padding-left: 24px;
    padding-right: 29px;
  }
}

@media (max-width: 370px) {
  .mdl-textfield {
    width: 100%;
  }
  .register {
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 120px;
  }
  .recaptcha-cuttom .recaptcha-cuttom--img {
    width: 123px;
  }
  .recaptcha-cuttom .recaptcha-cuttom--text {
    width: calc(100% - 132px);
    height: 44px;
  }
  .kh-accout-text {
    border: 0px;
    margin-top: 0px;
  }
  body {
    background: #fff;
  }
  .regiter-bd2 {
    max-width: 300px;
    margin: auto;
    border-radius: 0px;
    background-color: #fff;
    box-shadow: none;
    padding: 30px 0;
    border: 0;
  }
  .header {
    background-color: #f9f9f9;
  }
}

@media (max-width: 336px) {
  .mdl-textfield {
    width: 100%;
  }
  #rc-imageselect, .g-recaptcha {
    -ms-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-transform: scale(0.84);
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

/*# sourceMappingURL=dangnhap.css.map */